body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}
.first-section{
    display: flex;
    padding-left: 60px;
    
}
.half-side{
    width: 50%;
    padding-left: 50px;
}
.my-pic{
    width: 70%;
    padding-top: 100px;
    padding-left: 50px;
    
}
.name{
    color:orange;
}
.half-side h1{
    font-size: 40px;
}
p{
    text-align: justify;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(yellow , red);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: wheat;
    font-weight: 700;
    
}
/* .fancy{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
} */
.first-section h3{
    font-style: italic;
}
#tour-pic{
    width: 100%;
    height: auto;
    padding-right: 30px;
    border-radius: 200px;
    padding-top: 50px;
}
.second-part{
    padding-top: 100px;
}
.half-side p{
    padding-right: 30px;
}